/* Desktop devices only */
@media (hover: hover) and (pointer: fine) {

  body {
    cursor: none;
  }

  * {
    cursor: none !important;
  }

  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;              /* adjust to image size */
    height: 50px;
    background-image: url("eggcursor1.png");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    transform-origin: center;
    z-index: 999999;
  }

  /* Hover cursor */
  .custom-cursor.hover {
    background-image: url("eggcursor2.png");
  }
}
