#main2{
    border: 3px solid;
    width: 450px;
    height: 750px;
    font-size: 17px;
    background-color: white;
    font-family: "Press Start 2P",sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 100px;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#timer {
    word-wrap: break-word;
    text-align: center;
}
#timer-box{
    background-color:rgb(255, 245, 134);
    font-size: 45px;
    align-self: center;
    text-align: center;
    line-height: 65px;
    padding: 10px;
    width: 300px;
    height: 65px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 5px solid black;
    font-family: "Press Start 2P",sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
#start-btn,#reset-btn{
    background-color:rgb(255, 245, 134);
    font-size: 25px;
    align-self: center;
    text-align: center;
    line-height: 30px;
    padding: 10px;
    width: 160px;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 5px solid black;
    font-family: "Press Start 2P",sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#back-btn{
    background-color:rgb(255, 245, 134);
    font-size: 20px;
    align-self: left;
    text-align: center;
    line-height: 30px;
    padding: 10px;
    width: 300px;
    height: 70px;
    border-radius: 20px;
    border: 5px solid black;
    font-family: "Press Start 2P",sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
#inner{
    background-color:rgb(255, 245, 134);
    font-size: 20px;
    align-self: center;
    text-align: left;
    line-height: 20px;
    padding: 10px;
    width: 185px;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 5px solid black;
    font-family: "Press Start 2P",sans-serif;
}
p{
    display: block;
    line-height: 30px;
}
.emoji {
    display: block;
    margin-bottom: 0px; 
    font-size: 30px;  
    margin-top: 1px;  
}
#back-btn:hover, #start-btn:hover, #reset-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}
#start-btn:active, #reset-btn:active, #back-btn:active {
    transform: rotate(3deg) scale(0.95);
    transition: transform 0.1s ease;
}
#main2:hover {
    transform: scale(1);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}
#tips{
    text-align:left;
    line-height:35px;
}